*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
}

body{
    background: #252630;
}

header{
    background: aliceblue;
    padding: 20px;
    font-size: 20px;
}

header > h1{
    color: darkblue;
    text-align: center;
}

footer{
    background: black;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer > p{
    color: whitesmoke;
    text-align: center;
}

.scoreboard{
    margin: 40px auto;
    padding: 15px 30px;
    border: 3px solid white;
    font-size: 46px;
    color: white;
    width: 200px;
    text-align: center;
    border-radius: 4px;
    position: relative;
}


.label{
    background-color: darkred;
    padding: 4px 10px;
    font-size: 16px;
}

#userlabel{
    position: absolute;
    top: 30px;
    left: -25px;
}

#complabel{
    position: absolute;
    top: 30px;
    right: -30px;
}

.result{
    color: white;
    text-align: center;
    font-size: 30px;
}

.choices{
    text-align: center;
    font-size: 20px;
    margin: 40px 0px;
}

.choice{
    border: 4px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 0px 10px;
    display: inline-block;
    transition: 0.5s ease;
}

.choice:hover{
    cursor:pointer;
    background: #102630;
    border: 4px solid lightgrey;
}

#actionmsg{
    text-align: center;
    color: white;
    font-size: 14;
}


.choice.greenGlow{
    border: 4px solid green;
    box-shadow: 0 0 10px darkgreen;
}

.choice.redGlow{
    border: 4px solid red;
    box-shadow: 0 0 10px darkred;
}

.choice.greyGlow{
    border: 4px solid grey;
    box-shadow: 0 0 10px darkgrey;
}
